.button{
    background-color: #ae134e;
    border: none;
    color: rgb(240, 122, 253);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 16px;
    border-radius: 0.4rem;
}